In [3]:
import requests
import pandas as pd
import numpy as np
from tmdb3 import set_key, set_cache, searchMovie

set_key('e4242484419937005a3cab0a068c0ab0')
set_cache('null')

In [36]:
movies_number = 50301
api = requests.get("https://api.themoviedb.org/3/movie/" + str(movies_number) + "?api_key=e4242484419937005a3cab0a068c0ab0")
json_data = api.json()

In [37]:
json_data

{'adult': False,
 'backdrop_path': '/mQm6208ymhTQeFen5WYDZjuY6zX.jpg',
 'belongs_to_collection': None,
 'budget': 3000000,
 'genres': [{'id': 18, 'name': 'Drama'}],
 'homepage': '',
 'id': 50301,
 'imdb_id': 'tt0425406',
 'original_language': 'en',
 'original_title': 'Shackles',
 'overview': "An aspiring teacher (Hughley) takes the one job he's offered, a position at a school inside a prison.",
 'popularity': 1.502,
 'poster_path': '/sN0hTepWWpg6qnGdsutyRTPIX0Z.jpg',
 'production_companies': [{'id': 11073,
   'logo_path': '/wHs44fktdoj6c378ZbSWfzKsM2Z.png',
   'name': 'Sony Pictures Television Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2005-08-20',
 'revenue': 0,
 'runtime': 115,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': '',
 'title': 'Shackles',
 'video': False,
 'vote_average': 5.7,
 'vote_count': 3}

In [15]:
pd.json_normalize(
        json_data,
        sep = "_",
        record_path=['genres'],
        record_prefix=['genres_'],
        #meta=['imdb_id'],
        meta=['adult','backdrop_path','belongs_to_collection','budget','homepage','id','imdb_id','original_language','original_title','overview','popularity','poster_path','release_date','revenue','runtime','status','tagline','title','video','vote_average','vote_count'],
        errors='ignore')

,['genres_']id,['genres_']name,adult,backdrop_path,belongs_to_collection,budget,homepage,id,imdb_id,original_language,...,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
0,80,Crime,False,/g6R1OT7ETBLGLeUJOE0pOiAFHcI.jpg,None,1200000,,500,tt0105236,en,...,/Ao97Q15fh2wzbDPhO4gKmLEh6pi.jpg,1992-09-02,2859750,99,Released,Every dog has his day.,Reservoir Dogs,False,8.2,10944
1,53,Thriller,False,/g6R1OT7ETBLGLeUJOE0pOiAFHcI.jpg,None,1200000,,500,tt0105236,en,...,/Ao97Q15fh2wzbDPhO4gKmLEh6pi.jpg,1992-09-02,2859750,99,Released,Every dog has his day.,Reservoir Dogs,False,8.2,10944

In [28]:
def normalize_nested(column,sep):
    try:
        unested = pd.json_normalize(
                json_data,
                sep = "_",
                record_path=[column],
                record_prefix=[column+sep],
                meta=['imdb_id'],
                #meta=['adult','backdrop_path','belongs_to_collection','budget','homepage','id','imdb_id','original_language','original_title','overview','popularity','poster_path','release_date','revenue','runtime','status','tagline','title','video','vote_average','vote_count'],
                errors='ignore')
        return unested
    except:
        print(f'{column} doesnt exist')

try:
    production_companies = pd.json_normalize(
            json_data,
            sep = "_",
            record_path=['production_companies'],
            record_prefix='pcompanies_',
            meta=['imdb_id'],
            #meta=['adult','backdrop_path','belongs_to_collection','budget','homepage','id','imdb_id','original_language','original_title','overview','popularity','poster_path','release_date','revenue','runtime','status','tagline','title','video','vote_average','vote_count'],
            errors='ignore')
except:
    print('production_companies doesnt exist')

try:
    production_countries = pd.json_normalize(
            json_data,
            sep = "_",
            record_path=['production_countries'],
            record_prefix='pcountries_',
            meta=['imdb_id'],
            #meta=['adult','backdrop_path','belongs_to_collection','budget','homepage','id','imdb_id','original_language','original_title','overview','popularity','poster_path','release_date','revenue','runtime','status','tagline','title','video','vote_average','vote_count'],
            errors='ignore')
except:
    print('production_companies doesnt exist')

try:
    spoken_languages = pd.json_normalize(
            json_data,
            sep = "_",
            record_path=['spoken_languages'],
            record_prefix='slanguages_',
            meta=['imdb_id'],
            #meta=['adult','backdrop_path','belongs_to_collection','budget','homepage','id','imdb_id','original_language','original_title','overview','popularity','poster_path','release_date','revenue','runtime','status','tagline','title','video','vote_average','vote_count'],
            errors='ignore')
except:
    print('production_companies doesnt exist')

In [132]:
def normalize_nested(json_data, column,sep):
    try:
        unested = pd.json_normalize(
                json_data,
                sep = "_",
                record_path=[column],
                record_prefix=column+sep,
                meta=['imdb_id'],
                errors='ignore')
        return unested
    except:
        print(f'{column} doesnt exist')

In [134]:
normalize_nested(json_data, "genres", '_')

   genres_id genres_name    imdb_id
0         18       Drama  tt0425406

In [135]:
try:
    type2 = pd.DataFrame([genres.iloc[1]])["genres_name"]
except:
    type2 = np.nan

data = {'genre1':pd.DataFrame([genres.iloc[0]])["genres_name"],
        'genre2':type2}

df_types = pd.DataFrame(data=data)
df_types['id'] = value

df_types

  genre1   genre2         id
0  Drama      NaN  tt0043686
1    NaN  History  tt0043686

In [140]:
value = genres.loc[0,'imdb_id']

for i in ():
    try:
        genre_02 = pd.DataFrame([genres.iloc[1]])["genres_name"].reset_index(drop=True)
    except:
        genre_02 = np.nan

    genre_01 = pd.DataFrame([genres.iloc[0]])["genres_name"].reset_index(drop=True)

    genres_full = pd.concat([genre_01, genre_02] , axis=1)

NameError: name 'genres_full' is not defined

In [ ]:
import pandas as pd # to import csv file

df_movies = pd.read_csv('movies_df.csv', sep=';')
df_genres = pd.read_csv('movies_genres.csv', sep=';')

url = df['poster_path']
filename = df['imdb_id']

In [10]:
from pandasql import sqldf
import pandas as pd

df_movies = pd.read_csv('movies_df.csv', sep=';')
df_genres = pd.read_csv('movies_genres.csv', sep=';')

query = """SELECT DISTINCT
              T2.imdb_id, T2.poster_path, T2.genres_name
       FROM (SELECT 
                     T0.imdb_id,
                     T0.poster_path,
                     T1.genres_name,
                     row_number() over(partition by T0.imdb_id) AS RK
              FROM df_movies AS T0
              INNER JOIN df_genres AS T1
              ON T0.imdb_id = T1.imdb_id 
              ) AS T2
       WHERE RK = 1;"""

df = sqldf(query)
df

     imdb_id                       poster_path genres_name
0  tt0036094  /r1qAEEt1sv1Oz8i7bPiIiLLPBqf.jpg      Comedy
1  tt0285811  /wfmnBzyXxA5mc37la1KH3slCLg6.jpg       Music
2  tt1360822  /xgdLPEiHr4HqtNYuzBhmY9nE4Aa.jpg       Drama